<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			
		</div>
		<h2>Bot or Not</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Message Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="6" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="predict">
		
	</form>
		
	</div>

	
	
<footer>
	<p>This site is just for educational purpose.</p>
	<p>©2021 ShrushtiAgarwal</p>
</footer>
</body>
</html>